<% include _header%>
<div class="row container">
    <div class="col-md-12">
        <form action="/cerebros/edit/<%= cerebro.id %>?_method=PUT" method="POST">
                <div class="from-goup">
                    <label for="">Sabor</label>
                    <input type="text" class="from-control" name="flavor" value=" <%= cerebro.flavor %>">
                </div>

                <div class="from-goup">
                    <label for="">Descripcion</label>
                    <input type="text" class="from-control" name="descripcion" value=" <%= cerebro.descripcion %>">
                </div>

                <div class="from-goup">
                    <label for="">Iq</label>
                    <input type="text" class="from-control" name="iq" value=" <%= cerebro.iq %>">
                </div>

                <div class="from-goup">
                    <label for="">Picture</label>
                    <input type="text" class="from-control" name="picture" value=" <%= cerebro.picture %>">
                </div>
            
            <button class="btn btn-prymary">Editar Cerebro</button>
            </form>
    </div>

</div>


<% include _footer%>